 @import './variables.scss';
 header {
    height: 88px;
    position: fixed;
    width: 100%;
    z-index: 10; 
    .header-container {
        max-width: 1440px;
        width: 100%; 
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: space-between; 
        padding: 0 72px;
        .site-logo {
            width: 78.43px;
            height: 24px;
        }
        .nav-container {
            .nav-items {
                display: flex;
                flex-flow: row nowrap;
                list-style: none;
                align-items: center;
                padding: 0;
                margin: 0;
                .nav-item {
                    .nav-link {
                        text-decoration: none;
                        color: $text; 
                        font-family: $page-font;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 1.5em;
                        padding: 32px 24px; 
                        &:hover {
                            background-color: $primary;
                            cursor: pointer;
                            transition: 0.4s;
                        }
                        &:focus-visible {
                            outline: none;
                            background-color: $primary;
                        }
                    }
                }
            }
        }
        .adaptive-btn {
            display: none;
        }
    }
    &::before {
        content: "";
        position: absolute;
        inset: 0; // top: 0; left: 0; right: 0; bottom: 0;
        background: linear-gradient(
            rgba(0, 0, 0, 0.85),
            rgba(0, 0, 0, 0.5)
        );
        backdrop-filter: blur(6px);
        opacity: 0;
        transition: opacity 0.35s ease;
        pointer-events: none;
        z-index: -1; // чтобы было за контентом
    }

    &.scrolled::before {
        opacity: 1;
    }

 }
.no-scroll {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
 @media (max-width: 850px) {
    header {
        width: 100vw;
        .header-container {
            padding: 0 5.2%;
            max-width: none;
        }
    }
 }
 @media (max-width: 586px) {
    header {
        .header-container {
            .site-logo {
                z-index: 100;
            }
            .adaptive-btn {
                display: inherit;
                z-index: 100;
            }
            .nav-container {
                display: none;
            } 
            .active {
                display: inherit;
                height: 100vh;
                width: 100vw;
                position: absolute;
                top: 0;
                left: 0;
                background-color: $base-color;
                .nav-items {
                    flex-direction: column;
                    z-index: 5;
                    width: 100%;
                    height: 100%;
                    align-items: center;
                    justify-content: center;
                    gap: 30px;
                }
            }
        }
    }
 }