@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400..800&display=swap');
$page-font: 'Sen', sans-serif;
$primary: #5221E6;
$blue-accent: #609BFF;
$green-accent: #3CC74E;
$pink-accent: #E95D90;
$peach-accent: #FFF3E4;
$violet-accent: #FBE4FF;
$base-color: #000000;
$dark-violet: #181823;
$light-grey: #8491A0;
$dark-grey: #5B6876;
$text: #FFFFFF;
* {
    box-sizing: border-box;
}